<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.lib.media_store">

    <application>
        <provider
            android:name=".FFileProvider"
            android:authorities="${applicationId}.ffileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_media_store_file_paths" />
        </provider>

    </application>

</manifest>